# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
env/

# ----------------------------
# Django
# ----------------------------
db.sqlite3
media/

# Static files generated during deployment
staticfiles/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Logs
# ----------------------------
*.log

.env